body,
html {
  margin: 0;
  padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #000;
    padding: 20px 25px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  width: 80px;
}
span {
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    list-style: none;
}
li {
    margin-right: 20px;
}

a {
    padding:  10px 25px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
}

a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;
}